---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <button id="login">Click to Login</button>
</Layout>

<!-- Auth0-Client als separates Modul einbinden -->
<script type="module" src="/src/components/auth0-client.ts"></script>
