---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p>Du wirst ausgeloggt...</p>
</Layout>

<script type="module">
import { createAuth0Client } from 'https://cdn.jsdelivr.net/npm/@auth0/auth0-spa-js@2.0.4/dist/auth0-spa-js.production.esm.js';

const auth0 = await createAuth0Client({
  domain: "https://dev-xt5nci8m2zxscg23.eu.auth0.com",
  clientId: "aum2VaJ1GHfp8CUJhnCMqLvdojKt66CU",
  authorizationParams: {
    redirect_uri: "https://knuspermixx.github.io/astro-edit-starter",
  },
});

window.addEventListener("DOMContentLoaded", async () => {
  await auth0.logout({
    logoutParams: {
      returnTo: "https://knuspermixx.github.io/astro-edit-starter",
    }
  });
});
</script>
