---
import "../styles/global.css";
---

<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Landing Page</title>
  </head>
  <body class="font-sans bg-white text-gray-900">
    <slot />
  </body>
</html>